# SUPABASE
NEXT_PUBLIC_SUPABASE_URL =
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY =
SUPABASE_CONNECTION_STRING =
SUPABASE_SERVICE_ROLE_KEY =
# RAG SUPABASE
RAG_DATABASE_URL=

# GEMINI
GEMINI_API_KEY =

# UPTASH REDIS
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

#ORS 
ORS_API_KEY=

#API KEY IoT
IOT_DEVICE_API_KEY=

SITE_URL=